#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: black;

  
}

body{
  margin: 0;
  padding: 0;
  background-color: rgb(246, 240, 240)
}

.container {
  padding: 3rem 3rem ;

}
.bill-gates-container {
  background-color: white;
  padding:1rem 0;
  margin-bottom: 0.7rem;

}

.bill-gates {
  width: 150px;
  height: auto;
  border-radius: 50%;
}


h1{
  margin: 0;
  font-size: 2.3em;
}

.money {
  background-color: #25C484;
  padding:1rem 0;
  color: white;
  margin-bottom: 0.7rem;

}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.7rem;
  
  
}

.product {
  padding: 1.5rem 0;
  background-color: white;
}

.product img {
  width: 150px;
  height: 100px;
  object-fit:contain;
  margin-bottom: 1rem;
}

.product-controls input {
  width: 7vw;
  height:85%;
  border: 0.1em solid black;
  background-color: white;
}

.product-controls {
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  margin-top: 1rem;
}

.product-name {
  font-weight: 600;
  letter-spacing: -0.05em;
}

.price {
  color: #25C484;
  font-weight: 700;
  font-size: 1.2em;
}

.product h2, .product h3 {
  margin-top: 0;
  margin-bottom: 0;
}


.product-controls button {
  width: 4rem;
  height: 100%;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.buy {
  background-color: #25C484;
  color: white;
}